/* Global styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: var(--main-bg);
  color: var(--text-color);
  font-family: 'Cascadia Code', 'JetBrains Mono', 'Nanum Gothic', monospace;
  line-height: 1.5;
}